/* FONTS */
@font-face {
  font-family: oborus;
  src: url('/fonts/Bushcraft one.otf');
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  text-align: center;
  gap: 10px;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-family: oborus;
}

header > .oborus-logo {
  position: absolute;
  z-index: 0;
  top: 98%;
  left: 0%;
  width: 20%;
  /* max-width: 100px; */

  translate: 0% -50%;
}

/* TITULO de la PAGINA */
.title {
  position: relative;
  width: fit-content;

  font-size: 5em;
  font-weight: bold;
}
.title::before {
  position: absolute;
  filter: drop-shadow(0px 2px 3px black);
  content: 'LUDOTECA OBORUS';
  background: linear-gradient(
    2deg,
    #0055d3,
    var(--main-color) 30%,
    var(--main-color) 50%,
    rgb(196, 245, 255) 80%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: pulseOpacity 5s infinite;

  left: 0;
  top: 0;
}

@keyframes pulseOpacity {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

@media only screen and (width <= 600px) {
  .title {
    font-size: 4em;
  }
}

/* BUSQUEDA */
.search-area {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  gap: 3px;

  border: 2px solid #111;
  border-radius: 8px;
  background-color: #111;
  box-shadow: 0px 5px 10px 0px #111;
  border: 2px solid dimgray;

  padding: 5px;
  max-width: 1000px;
  width: 90%;
  align-self: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.search-bar > input {
  flex-grow: 1;
  margin: 0px;
  overflow: hidden;
}

.search-bar > button {
  margin: 0px;
  padding: 0px 8px;

  text-align: center;
  line-height: 1em;
}
.search-bar > .search-submit {
  margin-left: 5px;
}
.search-bar > .search-cancel {
  margin-right: 5px;
  padding: 0px 5px;
}

.search-icon {
  width: 24px;
}

.search-area .filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.search-results {
  margin-top: 10px;

  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

/* Filter OWNED Toggle */

/* COLECCION */
.boardgame-collection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  text-align: center;

  width: 100%;
  gap: 10px;
  margin-top: 20px;

  /* background-color: var(--background-alt); */
  border-radius: 50px;
}

.collection-header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.collection-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
  text-align: center;
  margin: 10px 20px;
  height: 3rem;

  font-size: 3em;
  color: var(--main-color);

  transition-property: font-size;
  transition: 0.5s;
}
.collection-title > span {
  position: relative;
  display: inline-block;

  transition-property: font-size;
  transition: 0.5s;

  font-size: 0em;
}
.collection-title .oborus-logo {
  position: absolute;
  right: -3rem;
  height: 0rem;

  transition-property: height;
  transition: 0.5s;
}
.collection-title:hover > span {
  display: inline-block;
  font-size: 1.5rem;
}
.collection-title:hover {
  font-size: 1.5em;
}
.collection-title:hover .oborus-logo {
  height: 2rem;
}

@media only screen and (width <= 400px) {
  .collection-title {
    flex-direction: row;
    /* gap: 0px; */
  }
}

/* Sort by Select */
.sort {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  margin-left: 10px;
}
.sort-select {
  border: 3px outset var(--background);
  background-color: var(--background);
}
.sort button {
  padding: 5px;
  border-radius: 40px;
  background-color: transparent;
  margin: 0;
}
.sort button:hover {
  background-color: var(--background);
}

/* Header en Pantalla ANCHA */
@media only screen and (width >= 900px) {
  .collection-header {
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .collection-title {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}

/* CARD */
.boardgame-card {
  position: relative;
  background-color: var(--background-alt);
  border-radius: 15px;
}

.boardgame-card .clickable {
  color: var(--text-main);
}

/* .boardgame-card .oborus-logo {
  position: absolute;
  width: 50px;
  left: 0;
  bottom: 0;
  filter: opacity(0.5);
} */

.boardgame-card .thumbnail-container {
  position: relative;
}

.boardgame-card .thumbnail {
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 5px black;
  object-fit: cover;
  object-position: 50% 0;
}

.boardgame-card .name {
  padding: 0px 5px;
  z-index: 1;
}

.boardgame-card .players,
.boardgame-card .playtime {
  position: absolute;
  top: 0;
  z-index: 1;

  width: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 4px;

  color: var(--text-bright);
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;

  background-color: color-mix(in srgb, var(--secondary-color) 80%, transparent);
  box-shadow: 0 0 5px #111;
  padding: 2px 4px;
  border-radius: 10px;
}
.boardgame-card .players {
  left: 0;
}
.boardgame-card .playtime > span:nth-of-type(2) {
  background-color: red;
  line-height: 0em;
}

.boardgame-card .playtime {
  left: 0;
  top: 65px;
}

/* .boardgame-card .players span,
.boardgame-card .playtime span {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
} */

.boardgame-card .clickable:hover {
  color: var(--text-bright);
  font-weight: normal;
  font-size: 1em;
}

.boardgame-card .clickable:hover .thumbnail-container {
  scale: 105%;
}
.boardgame-card .clickable:hover .thumbnail {
  box-shadow: 0px 2px 20px black;
}

.boardgame-card .clickable:hover .name {
  scale: 105%;
  text-shadow: 0px 2px 20px black;
}

.boardgame-card.owned {
  background-color: var(--secondary-color);
  border: 2px solid var(--main-color);
}
.boardgame-card.owned .name {
  color: var(--text-bright);
}

.boardgame-card .difficulty-icon {
  position: absolute;
  right: -15px;
  bottom: 0px;
  z-index: 1;

  width: 50px;
  font-size: 1.5em;

  background-color: var(--secondary-color);
  border-radius: 100% 100% 20% 20%;
  border: 1px double #555;
  border-width: 3px 3px 0 0px;
  /* box-shadow: -2px -2px 2px 0 #111; */

  padding: 0;
  rotate: -90deg;
}

.boardgame-card .video-link {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
}

.boardgame-card .video-link > img {
  background-color: var(--secondary-color);
  border: 3px outset var(--secondary-color);
  border-radius: 10px;
}
.boardgame-card .video-link > img:hover {
  scale: 110%;
}

@media only screen and (width >= 300px) {
  .search-results {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .boardgame-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .boardgame-card .clickable {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    width: fit-content;
    margin: 10px 0;
  }

  .boardgame-card .name {
    text-align: center;
    margin: 0;
  }
  .boardgame-card .thumbnail-container {
    margin: 0px 20px;
    flex-grow: 1;
  }

  .boardgame-card.owned {
    background-size: 20%;
    background-repeat: no-repeat;
  }
}

@media only screen and (width <= 580px) {
  .search-results {
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

@media only screen and (width <= 300px) {
  .search-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    margin-top: 10px;
  }

  .boardgame-card .clickable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 10px 20px;
    gap: 10px;
  }

  .boardgame-card .players,
  .boardgame-card .playtime {
    scale: 80%;
    translate: 0 -5px;
  }
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}

.error > .text {
  color: red;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.spinner-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  z-index: 1;
}

.mock-activator {
  width: max-content;
  align-self: center;
  box-shadow: 2px -2px 5px black;
  padding-left: 5px;
  cursor: pointer;
}
