main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  width: 100%;
  gap: 10px;
}

main > .oborus-logo {
  height: 60px;
  position: absolute;
  z-index: -1;
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border: 2px solid #111;
  border-radius: 8px;
  background-color: #111;
  box-shadow: 0px 5px 10px 0px #111;
  border: 2px solid dimgray;
  padding: 5px;
  max-width: 1000px;
  width: 90%;
  align-self: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.search-bar > input {
  flex-grow: 1;
  margin: 0px;
  overflow: hidden;
}

.search-bar > button {
  margin: 0px;
  margin-left: 10px;
  padding: 0px 8px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  background-color: #1e2952;
}

.search-icon {
  width: 24px;
}

.search-results {
  margin-top: 10px;
}

.boardgame-card {
  position: relative;
}

.boardgame-card .clickable {
  color: var(--text-main);
}

.boardgame-card .oborus-logo {
  position: absolute;
  z-index: 1;
  width: 50px;
  right: 0;
  top: 0;
}

.boardgame-card .thumbnail {
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 5px black;
}

.boardgame-card .name {
  padding: 0px 5px;
}

.boardgame-card .players,
.boardgame-card .playtime {
  position: absolute;
  top: 0;
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--text-bright);
  font-size: 0.9em;
  font-weight: bold;
  background-color: #008c99cc;
  box-shadow: 0 0 5px #111;
  padding: 2px 4px;
  border-radius: 10px;
  line-height: 0;
  width: 35px;
}
.boardgame-card .players {
  left: 0;
  flex-direction: row-reverse;
}

.boardgame-card .playtime {
  left: 0;
  top: 65px;
}

/* .boardgame-card .players span,
.boardgame-card .playtime span {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
} */

.boardgame-card .clickable:hover {
  color: var(--text-bright);
  font-weight: normal;
  font-size: 1em;
}

.boardgame-card .clickable:hover .thumbnail {
  scale: 105%;
  box-shadow: 0px 2px 20px black;
}

.boardgame-card .clickable:hover .name {
  scale: 105%;
  text-shadow: 0px 2px 20px black;
}

.boardgame-card.owned .thumbnail {
  border: 3px solid #00d2e6;
}
.boardgame-card.owned .name {
  color: #00d2e6;
}

@media only screen and (max-width: 450px) {
  .search-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    margin-top: 10px;
  }

  .boardgame-card .clickable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    gap: 10px;
  }
}

@media only screen and (min-width: 450px) {
  .search-results {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .boardgame-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boardgame-card .clickable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 10px 0;
  }

  .boardgame-card .name {
    text-align: center;
    margin: 0;
  }
  .boardgame-card .thumbnail {
    height: 150px;
    margin: 0px 20px;
  }

  .boardgame-card.owned {
    background-size: 20%;
    background-repeat: no-repeat;
  }
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}

.error > .text {
  color: red;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.spinner-container {
  align-self: center;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.mock-activator {
  width: max-content;
  align-self: center;
  box-shadow: 2px -2px 5px black;
  padding-left: 5px;
  cursor: pointer;
}
